.col-md-12
  .panel.panel-info
    .panel-heading.clearfix
      %h4.panel-title.pull-left
        Academic Catalogs
      .pull-right
        = link_to new_catalog_path, class: 'btn btn-primary btn-xs' do
          %i.fa.fa-plus
          New Catalog

    .panel-body
      #catalogs
        = render 'catalogs/partials/table'

    .panel-footer
      = link_to 'Dashboard', root_path, class: 'btn btn-success'
