.col-md-12
  .panel.panel-primary
    .panel-heading
      %h4.panel-title
        Catalog

    .panel-body
      %p something should go here

    .panel-footer
      %p something should go here as well