.col-md-12
  .panel.panel-info
    .panel-heading.clearfix
      %h4.panel-title.pull-left
        Course Templates
      .pull-right
        = link_to new_template_path, class: 'btn btn-primary btn-xs' do
          %i.fa.fa-plus
          New Course Template

    .panel-body
      #catalogs
        = render 'templates/partials/table'

    .panel-footer
      = link_to 'Dashboard', root_path, class: 'btn btn-success'