.col-md-12
  .panel.panel-danger
    .panel-heading
      %h4 Predict Enrollment

    .panel-body
      .col-md-4.bs-callout.bs-callout-warning
        %h4 Options

      .col-md-8.bs-callout.bs-callout-info
        %h4 Results

    .panel-footer
      = link_to 'Dashboard', root_path, class: 'btn btn-success'