.col-md-12
  .panel.panel-primary
    .panel-heading
      %h4.panel-title
        Prediction Results

    .panel-body
      %input#data-results{:type=>"hidden"}
      %table#results-table.table.table-striped
        %thead
          %th Course ID
          %th Course Title
          %th Predicted Enrollment
          %th Dataset
        %tbody
        %tfoot
          %th Course ID
          %th Course Title
          %th Predicted Enrollment
          %th Dataset

    .panel-footer
      %p Something should go here soon!

= form_tag("/predict/run", method: "post", role: "form") do
  #wizard-predict.wizard{data: {title: "Course Enrollment Prediction Wizard"}}
    %h1 Define Prediction

    .wizard-card{data: {cardname: 'card-intro'}}
      %h3 Introduction
      .wizard-input-section
        Something

    .wizard-card{data: {cardname: 'card-semester'}}
      %h3 Select Courses
      .wizard-input-section
        .col-md-12
          .form-group
            %label Select Current Semester
            = select("current", "semester_id", Semester.desc(:year).collect {|p| [ p.full_title, p.id ] }, {include_blank: 'Please select...'}, class: "form-control")

        .wizard-input-section
          .col-md-12
            .form-group
              %label.form-label Available Courses
              %select#course_select.monoselect.form-control{name: 'course_select[]', multiple: 'true', size: '12'}

    .wizard-card{data: {cardname: 'card-date-range'}}
      %h3 Define Date Range
      .wizard-input-section
        .col-md-12
          .form-group
            %label.form-label Starting Semester
            = select("start", "semester_id", Semester.desc(:year).collect {|p| [ p.full_title, p.id ] }, {include_blank: 'Please select...'}, class: "form-control")

        .col-md-12
          .form-group
            %label.form-label Ending Semester
            = select("end", "semester_id", Semester.desc(:year).collect {|p| [ p.full_title, p.id ] }, {include_blank: 'Please select...'}, class: "form-control")

    .wizard-card{data: {cardname: 'card-review'}}
      %h3 Review Selection
      .wizard-input-section
        %p You have selected the following options for the prediction scenario
        %table.table.table-striped
          %tr
            %td.strong
              Current Semester:
            %td
              #review-current-semester
          %tr
            %td.strong
              Selected Courses:
            %td
              %ul#review-selected-courses(style="list-style-type: none; list-style-position: outside; margin: 0px; padding: 0px; overflow: auto")
          %tr
            %td.strong
              Starting Semester:
            %td
              #review-start-date
          %tr
            %td.strong
              Ending Semester:
            %td
              #review-end-date

        %p
          If you are satisfied with these options, click the "Submit" button below

    .wizard-success
      %h3 Review Results
      %button#close_wizard.btn.btn-primary.btn-big
        Click Here to View Your Results!

    .wizard-error
      %h3 Error
      #errors

    .wizard-failure
      %h3 Prediction Failed
      #failures

:coffee
  wizard = $('#wizard-predict').wizard
    contentHeight: 500
    contentWidth: 900
    backdrop: 'static'

  wizard.show()

  wizard.on "submit", ->
    $.ajax
      url: '/predict/run'
      type: 'POST'
      data: wizard.serialize()
      dataType: 'json'

      success: (data, textStatus, jqXHR) ->
        console.log data
        $('#data-results').text(JSON.stringify(data))

        text = ''

        for key, value of data.courses
          text += '<tr>'
          text += ' <td>' + value.course_number         + '</td>'
          text += ' <td>' + value.course_title          + '</td>'
          text += ' <td>'
          text += '   <table class="table table-striped">'
          text += '     <tr>'
          text += '       <td>Predicted Enrollment</td>'
          text += '       <td>' + value.predicted_enrollment + '</td>'
          text += '     </tr>'

          dataset = ''
          for key2, value2 of value.course_enrollment
            dataset += value2 + ', '

          text += ' <td>' + dataset + '</td>'
          text += '</tr>'

        $('#results-table tbody').append(text)

        wizard.submitSuccess()
        wizard.hideButtons()
        wizard.updateProgressBar(0)

      error: ->
        wizard.submitFailure()
        wizard.hideButtons()
        wizard.updateProgressBar(0)

    return false

  $('#close_wizard').click ->
    wizard.close()
    return false

  $('#current_semester_id').change ->
    $.get '/courses_by_semester/' + $('#current_semester_id').val(), (data) ->

      $('#review-current-semester').text($('#current_semester_id option:selected').text())

      $('#course_select').empty()
      for e in data
        option = $('<option></option>').attr('value', e.number).text(e.number + ' - ' + e.title);
        $("#course_select").append(option);

  $('#course_select').change ->
    $('#review-selected-courses').text($("#course_select option:selected").size() + ' course(s) selected')

  $('#start_semester_id').change ->
    $('#review-start-date').text($("#start_semester_id option:selected").text())

  $('#end_semester_id').change ->
    $('#review-end-date').text($("#end_semester_id option:selected").text())