.col-md-12
  .badger-left{"data-badger" => "Badger default (left)"}
    Block with badger 1
  .offer.offer-default
    .shape
      .shape-text
        top
    .offer-content
      %h3.lead
        A default offer
      %p
        And a little description.
        %br/
        and so one
      %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"}
        Launch demo modal

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        \...
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %button.btn.btn-primary{type: "button"} Save changes