= stylesheet_link_tag 'home'

.jumbotron
  .container
    .col-md-12
      .text-center
        %i.fa.fa-cubes.fa-5x
        %h1.raleway
          <span class="letter">I</span><span class="word">mport<span>
          <span class="letter">C</span><span class="word">ourse</span>
          <span class="letter">D</span><span class="word">ata</span>

.container
  .col-md-12
    .col-md-4
      = link_to import_courses_path, class: 'btn btn-default btn-lg btn-block' do
        %i.fa.fa-upload.fa-5x
        %h3.raleway Course Data

    .col-md-4
      .text-center
        = link_to import_requirements_path, class: 'btn btn-default btn-lg btn-block' do
          %i.fa.fa-upload.fa-5x
          %h3.raleway Course Requirements

    .col-md-4
      .text-center
        = link_to help_path, class: 'btn btn-default btn-lg btn-block' do
          %i.fa.fa-question-circle.fa-5x
          %h3.raleway Get Help

