%table.table.table-striped.table-hover
  %thead
    %tr
      %th Course
      %th Title
      %th # of Sections
      %th Semester
      %th Created
      %th Updated
      %th.action-column
        Actions
  %tbody#courses
    = render 'courses/partials/course'

.pull-right
  #paginator
    = paginate @courses, :remote => true