.sidebar-nav
  %ul.nav.nav-pills.nav-stacked
    %li.nav-header
      %h4 Courses
    %li
      %a{href: "#"} Add Course
    %li
      %a{href: "#"} Update Course
    %li
      %a{href: "#"} List Courses
    %li.nav-header Semesters
    %li
      %a{href: "#"} Add Semester
    %li
      %a{href: "#"} Update Semester
    %li
      %a{href: "#"} List Semesters
    %li.nav-header Catalogs
    %li
      %a{href: "#"} Add Catalog
    %li
      %a{href: "#"} Update Catalog
    %li
      %a{href: "#"} List Catalogs