/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "jasny-bootstrap";
@import "fileinput";
@import "badger";
@import "jquery.bootstrap-touchspin";
@import "docs";
@import "spinner";
@import "bootstrap-switch";
@import "acc-wizard.min";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.action-column {
  width: 150px;
  text-align: center
}

.date-column {
  width: 100px;
}

.strong {
  font-weight: bold
}

.pagination {
  padding: 0;
  margin: 0;
}