body {
  padding-top: 50px
}

.btn {
  padding: 50px;
}

.letter {
  background: #777;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
}

.word {
  background: #ddd;
  padding: 5px 10px;
}

.jumbotron h1 {
  font-size: 3em;
}